* {
    border: 0;
    padding: 0;
    outline: none;
}

html,
body {
    background: linear-gradient(-45deg, #e64514, #a33ce7, #b1470a, #082480);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-size: 1em;
    font-family: 'Segoe UI', Roboto;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

form label input {
    color: white;
}

#navbar>div>img {
    max-width: 25%;
}

.header {
    text-align: center;
    padding-bottom: 25px;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: black;
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 20px;
}

form .box {
    width: 100%;
    height: 3.1em;
    position: relative;
    bottom: 10px;
    border-radius: 7px;
}

#option1 select {
    width: 100%;
    height: 3.1em;
    position: relative;
    bottom: 10px;
    border: linear-gradient(-45deg, #e64514, #a33ce7, #23a6d5, #23d5ab);
    border-radius: 7px;
    box-shadow: black;
    top: 10px;
}

#option2 select {
    width: 100%;
    height: 3.1em;
    position: relative;
    top: 10px;
    border: linear-gradient(-45deg, #e64514, #a33ce7, #23a6d5, #23d5ab);
    border-radius: 7px;
    box-shadow: black;
    top: 10px;
}

#option2 textarea {
    width: 98.5%;
    height: 125px;
    position: relative;
    bottom: 15px;
}

.captcha {
    width: 50px;
    border-radius: 5px;
}

#button {
    width: 98.5%;
    height: 4em;
    position: relative;
    top: 10px;
    background-color: rgba(16, 146, 23, 0.959);
    border: none;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(63, 81, 181, 0.7);
}

input.larger {
    width: 20px;
    height: 20px;
}

@media screen and (max-width:600px) {
    form {
        width: 100%;
        margin: auto;
    }
}